.custom-modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 4rem;
  text-align: center;
  width: 49rem;
  z-index: 10;
  position: fixed;
  top: 10vh;
  left: calc(38% - 15rem);
}